
.fondo:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.texto{
    margin-top: 15px;
    text-align: center;
    font-size:80%;
}

.negrita{
    font-weight: bold ;
    font-size: 200%;
}

.oradores{
    margin-bottom: 15px;
}

.seccionHorizontal{

    width: 90%;
    margin: 0 auto;
}